{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <title>Todo App</title>
</head>
<body>
  <div>
    <header>This is a Todo App</header>
  </div>
  <br>
  <br>
  <div class="item">
    <!-- <ul>
      <li>temporary todo item A</li>
      <li>temporary todo item B</li>
    </ul> -->
    <ul>
      {% for todo_item in all_items %}
      <li>{{ todo_item.content }}
        <form  action="/deleteTodo/{{todo_item.id}}/"
        style="display:inline;" method="post" >{% csrf_token %}
          <input type="submit" value="Delete"/>
        </form></li>
      {% endfor %}
    </ul>

  <br>
  <br>
  <form action="/addTodo/" method="post">{% csrf_token %}
    <input type="text" name="content"/>
    <input type="submit" value="Add"/>
  </form>
  </div>
</body>
</html>
